/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .note-card-wrapper-main {
    margin: 0 auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-page {
    display: grid;
    grid-template-columns: 110px fit-content auto;
    height: 100vh;
    overflow-x: hidden;
  }

  .note-card-wrapper-main {
    margin: 0 0 0 70px;
    width: 900px;
    grid-column: 2;
  }

  .note-card-wrapper-main {
    height: 100vh;
    overflow: auto;
  }
}
