.menu-container {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 50px;
  /* background-color: #3e3d3e; */
  padding: 10px;
  bottom: 30px;
  width: 200px;
  height: 40px;
  margin: auto;
  left: 0;
  right: 0;
  align-content: space-evenly;
}

.menu-subitem {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: #d7d1cd;
  /* margin: 3px; */
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 20px;
  position: relative;
}

.menu-avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
  left: 0;
  top: 0;
  position: absolute;
}

.menu-subitem:hover {
  background-color: #de541e;
}

.menu-goback {
  display: none;
}

.menu-subbutton {
  border: none;
  width: 35px;
  height: 35px;
  font-size: 23px;
}

/* modal */

.modal-container {
  width: 90vw;
  height: 80vh;
  border-radius: 25px;
  background-color: bisque;

  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}

.modal-image-url {
  background-color: #575757;
}

.modal-content-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  /* margin-top: 50px; */
  width: 90%;
  margin-bottom: 1em;
  margin: auto;

  /* align-content: space-evenly; */
}

.modal-item {
  width: 90%;
  background-color: #de541e;
  margin: 10px auto;
  padding: 20px;
  border-radius: 5px;
}

/* dropdown */

.dropdown {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.dropdown2 {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-body {
  padding: 5px;
  border-top: 1px solid #e5e8ec;
  display: none;
}

.dropdown-body.open {
  display: block;
  z-index: 3;
}

.dropdown-item {
  padding: 10px;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item-dot {
  opacity: 0;
  color: #91a5be;
  transition: all 0.2s ease-in-out;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91a5be;
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.icon.open {
  transform: rotate(90deg);
}

.dropdown-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media only screen and (min-width: 768px) {
  .menu-container {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 10px;
    bottom: 5%;
    width: 70px;
    height: 400px;
    margin: auto;
    margin-left: -10px;
    /* margin-top: 60px; */
    bottom: 0;
    top: 0;
    box-shadow: 0px 4px 8px -2px #575757;
  }

  .menu-subitem {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #d7d1cd;
    /* margin: 3px; */
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
  }

  .menu-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    left: 0;
    top: 0;
    position: absolute;
  }

  .menu-subbutton {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }

  .dropdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
  }
}

@media only screen and (min-width: 992px) {
  .menu-container {
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 10px;
    bottom: 5%;
    width: 70px;
    height: 500px;
    margin: auto;
    margin-left: -10px;
    margin-top: 100px;
    box-shadow: 0px 4px 8px -2px #575757;

    top: 0;
  }

  .menu-back {
    font-size: 30px;
    font-weight: 100;
  }

  .menu-back:hover {
    /* background-color: #de541e; */
    color: #de541e;
  }

  .menu-goback {
    display: block;
    border: none;
    /* width: 25px;
  height: 25px; */
    padding: 0px;
    background-color: gray;
  }

  .menu-subitem {
    border-radius: unset;
    width: 25px;
    height: 25px;
    padding: 35px 5px 5px 5px;
    background-color: unset;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: black;
  }

  .menu-subitem:hover {
    background-color: unset;
    color: #de541e;
  }

  .menu-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    left: -5px;
    top: 25px;
    position: absolute;
  }

  .menu-subbutton {
    border: none;
    width: 50px;
    height: 50px;
    font-size: 35px;
  }
}
