@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.form-button {
  outline: none;
}

input {
  border: none;
  background: transparent;
  outline: none;
}

.light-mode {
  background-color: #e9eaeb;
  color: #333;
  transition: background-color 0.25s ease-out;
}

.light-mode .form-button {
  background-color: #d7d1cd;
}

.light-mode .form-button:hover {
  background-color: #de541e;
}

.light-mode .secondary-color {
  color: #d7d1cd;
}

.light-mode .primary-color {
  color: #de541e;
}

.light-mode ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a4a6;
  opacity: 1; /* Firefox */
}

.dark-mode {
  background-color: #3e3d3e;
  color: #3e3d3e;
}

.dark-mode .form-button {
  background-color: #615e61;
}

.dark-mode input {
  color: #de541e;
}

.dark-mode .form-button:hover {
  background-color: #de541e;
}

.dark-mode .secondary-color {
  color: #3e3d3e;
  filter: brightness(130%);
}

.dark-mode .secondary-color-light {
  color: rgb(62, 61, 62);
  filter: brightness(200%);
}

.dark-mode .primary-color {
  color: #de541e;
}

.dark-mode .secondary-background {
  background-color: #747474;
}

.light-mode .secondary-background {
  background-color: #b9b2ae;
}

.toggle {
  position: relative;
  padding: 0 4px;
  display: flex;
  align-items: center;
}

input[type="checkbox"].checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  position: relative;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  vertical-align: 2px;
  outline: none;
}

input[type="checkbox"].checkbox:checked + label {
  left: 30px;
}

input[type="checkbox"].checkbox:focus-visible {
  outline: solid 2px white;
}

input[type="checkbox"].checkbox + label {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  position: absolute;
  left: 2px;
  background: #fff;
  opacity: 0.9;
  background-color: #de541e;
}

.toggle-container {
  display: flex;
  margin: 0 auto;
}

.toggle-container > span {
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 4px;
  margin-right: 2px;
}

.toggle-container > span:last-child {
  margin-top: 5px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #de541e #d7d1cd;
}

.dark-mode * {
  scrollbar-width: thin;
  scrollbar-color: #de541e #686562;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 8px;
}

.dark-mode *::-webkit-scrollbar-track {
  background: #686562;
}

*::-webkit-scrollbar-track {
  background: #d7d1cd;
}
*::-webkit-scrollbar-thumb {
  background-color: #de541e;
  border-radius: 20px;
  border: none;
}
