.primary-color {
  color: #de541e;
}

.dark-mode .menu-item {
  color: #d7d1cd;
}

.light-mode .menu-item {
  color: #3e3d3e;
}

.menu-item-active {
  color: #de541e;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

.menu-item {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.dark-mode.menu-item:focus {
  color: #de541e;
}

.menu-item:focus {
  color: #de541e;
}

.menu-item-background {
  display: none;
}

.content-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.slide {
  padding-bottom: 30px;
}

.dark-mode .slide-wrapper {
  background-color: #53504e;
}

.light-mode .slide-wrapper {
  background-color: #d7d1cd;
}

.slide-wrapper {
  height: 50px;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 5px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slide-wrapper {
    margin-left: 90px;
    margin-right: 10px;
    width: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .content-wrapper {
    display: block;
    overflow-x: unset;
    overflow-y: unset;
    scroll-behavior: unset;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
  }

  .dark-mode .content-wrapper div {
    color: rgb(70, 70, 70);
  }

  .light-mode .content-wrapper div {
    color: rgb(212, 212, 212);
  }

  .content-wrapper div {
    background-color: unset;
    font-size: 90px;
    font-weight: bold;
  }

  .slide {
    padding-bottom: 30px;
  }

  .dark-mode .slide-wrapper {
    background-color: transparent;
  }

  .light-mode .slide-wrapper {
    background-color: transparent;
  }

  .slide-wrapper {
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    margin: 0 0 0 5px;
    grid-column: 3;
    grid-row: 1;
  }

  .menu-item {
    text-align: left;
    font-size: 35px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
  }

  .menu-item-active {
    text-align: left;
    font-size: 35px;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    color: #de541e;
  }

  .menu-item:hover {
    color: #de541e;
  }

  .menu-item-wrapper {
    position: relative;
  }

  .menu-item-background {
    display: block;
  }
}
